

NET "clk" LOC = L15;
NET "PB" LOC = F5;
NET "rst" LOC = T15;
NET "LED_BUS[15]" LOC = N12;
NET "LED_BUS[14]" LOC = P16;
NET "LED_BUS[13]" LOC = D4;
NET "LED_BUS[12]" LOC = M13;
NET "LED_BUS[11]" LOC = L14;
NET "LED_BUS[10]" LOC = N14;
NET "LED_BUS[9]" LOC = M14;
NET "LED_BUS[8]" LOC = U18;
